### 1)  What is 7 to the power of 4?

In [1]:
7**4

2401

### 2) Split the string
s = "Hi there Yogesh!"
into list

In [2]:
s = "Hi there Yogesh!"

In [3]:
s.split()

['Hi', 'there', 'Yogesh!']

### 3) ** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [8]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

### 4) :** Given this nested list, use indexing to grab the word "hello" **
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
type(lst)

list

In [11]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [13]:
lst[3][1]

[100, 200, ['hello']]

In [15]:
lst[3][1][2][0]

'hello'

### 5)** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
type(d)

dict

In [23]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [25]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [26]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [27]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### 6)** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [54]:
data=input("Enter your email address:")
def get_dom(data):
    return data.split('@')[-1]
print(get_dom(data))

Enter your email address:user@domain.com
domain.com

In [52]:
get_dom(data)

'gmail.com'

In [57]:
email='user@domain.com'
def get_domain(email):
    return email.split('@')[-1]

In [41]:
get_domain(email)

'domain.com'

### 7)** Create a basic function that returns True if the word 'dog' is contained in the input string. 
Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [59]:
s='Is there a dog here?'
def dog_find(s):
    if 'dog' in s.split():
        return 'True'
    elif 'Dog' in s.split():
        return 'False'

In [60]:
dog_find(s)

'True'

In [69]:
s='Is there any dog here?'
def dog_find(s):
    if 'dog' in s.split():
        return 'True'
    elif 'Dog' in s.split():
        return 'True'
    else:
        return 'False'

In [70]:
dog_find(s)

'True'

In [66]:
s1=input("Enter any string:")
def dog_find(s1):
    if 'dog' in s1.split():
        return 'True'
    elif 'Dog' in s1.split():
        return 'True'
    else:
        return False
print(dog_find(s1))

Enter any string:is there any Dog Here?
True

### 8) ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [98]:
s='This Dog runs faster than the other dog dude!'
def count_dog(s):
    count=0
    for w in s.lower().split():
        if w=='dog':
            count+=1
    return count
print(count_dog(s))

2

### 9) ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [99]:
seq = ['soup','dog','salad','cat','great']

In [100]:
type(seq)

list

In [106]:
list1=list(filter(lambda v:v[0]=='s',seq))

In [107]:
list1

['soup', 'salad']

### 10) Final Problem
*You are driving a little too fast, and a police officer stops you. 
Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, 
the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". 
Unless it is your birthday (encoded as a boolean value in the parameters of the function) 
-- on your birthday, your speed can be 5 higher in all cases. *

In [119]:
def cat_speed(birthday,speed):
    if birthday:
        new_speed=speed-5
    else:
        new_speed=speed
    if new_speed>=81:
        return "Big Ticket"
    elif new_speed>=61:
        return "Small Ticket"
    else:
        return "No Ticket"

In [120]:
cat_speed(True,68)

'Small Ticket'

In [121]:
cat_speed(False,68)

'Small Ticket'

In [124]:
cat_speed(True,87)

'Big Ticket'

### 11)Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [129]:
s1=input("enter the number:")
number=""
x=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    number=number+s1[0]
for a in s1:
    if a in str(x)
        number=number+a
print(number)

SyntaxError: invalid syntax (4113631632.py, line 7)

In [130]:
s1=input("enter the number:")
number=""
x=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    number=number+s1[0]
for a in s1:
    if a in str(x):
        number=number+a
print(number)

enter the number:-gh123
123

### 12) Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [137]:
def five_num():
    for i in range(0,9):
        a=i
        b=i-2
        c=i-4
        d=i-6
        e=i-4
        if(c+d+e==a):
            if(a+b+c+d+e==19):
                return str(a)+str(b)+str(c)+str(d)+str(e)

In [138]:
print(five_num())

75313

### 13) Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [146]:
number1=input("enter the number")
number2=int(number1[::-1])
number3=str(int(number1)+number2)
while number3!=number3[::-1]:
    number3=int(number3)+int(number3[::-1])
    print("Number is :",number3)
    print("Reverse is :",number3[::-1])
print("Reverse is :",number3)

enter the number88
Number is : 847

TypeError: 'int' object is not subscriptable

In [147]:
number1=input("enter the number")
number2=int(number1[::-1])
number3=str(int(number1)+number2)
while number3!=number3[::-1]:
    number3=str(int(number3)+int(number3[::-1]))
    print("Number is :",number3)
    print("Reverse is :",number3[::-1])
print("Reverse is :",number3)

enter the number88
Number is : 847
Reverse is : 748
Number is : 1595
Reverse is : 5951
Number is : 7546
Reverse is : 6457
Number is : 14003
Reverse is : 30041
Number is : 44044
Reverse is : 44044
Reverse is : 44044